DEFAULT_EXCHANGE=NSE
DATA_PROVIDER=auto
HISTORY_PERIOD=2y
BAR_INTERVAL=1d
INTRADAY_INTERVAL=5m
INTRADAY_LOOKBACK_DAYS=30
DATA_CACHE_DIR=.cache/market_data
JUGAAD_CACHE_DIR=.cache/jugaad
SCREENER_UNIVERSE_SIZE=20
ENABLE_TORCH_MODEL=false
TORCH_EPOCHS=35
TORCH_SEQUENCE_LENGTH=30
TORCH_BATCH_SIZE=64
